td,.lix {        FONT-FAMILY: verdana,arial,helvetica;font-size:18px}

.safe {
FONT-SIZE: 12px;
COLOR: #000000;
BACKGROUND-COLOR: #E7F2E6;
padding-left:2;
}
.llo {        FONT-FAMILY: verdana,arial,helvetica;font-size:10px}

.campos {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 0px; BORDER-BOTTOM-COLOR: #ffffff; COLOR: #6666cc; BORDER-TOP-COLOR: #fef8e0; HEIGHT: 14px; BACKGROUND-COLOR: #fef8e0; BORDER-RIGHT-WIDTH: 0px; BORDER-RIGHT-COLOR: #ffffff
}
.campos2 {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, Arial, Helvetica, sans-serif
}
.campos3 {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c0c0a0
}
.fonte1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fonte2 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.fonte10 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bfb {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; WIDTH: 70px; CURSOR: hand
}
.bfta {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #663333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bfa {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bfpc {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #696969; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bffp {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #696969; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bfda {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #696969; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
FORM {
	MARGIN-BOTTOM: 0px
}

.novacom:active {
	COLOR: #663301; TEXT-DECORATION: underline
}
.novacom:link {
	COLOR: #663301; TEXT-DECORATION: none
}
.novacom:visited {
	COLOR: #433029; TEXT-DECORATION: none
}
.novacom:hover {
	COLOR: #663301; TEXT-DECORATION: underline
}


TD.TD-MN-PREENCHIMENTO {
	FONT-SIZE: 10px; COLOR: #ffcc99; FONT-FAMILY: Tahoma, Verdana, Arial; BACKGROUND-COLOR: #000000
}
A.A-MN-CAT {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN-LEFT: 5px; TEXT-TRANSFORM: uppercase; COLOR: #ffcc99; PADDING-TOP: 6px; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.A-MN-CAT:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 6px; MARGIN-LEFT: 5px; TEXT-TRANSFORM: uppercase; COLOR: #ffcc99; PADDING-TOP: 6px; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}

A.A-MN-CAT:hover {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Tahoma, Verdana, Arial;text-decoration:none;
}

.bet,{FONT-FAMILY: verdana,arial,helvetica;font-size:11px}



.sis{FONT-FAMILY: verdana,arial,helvetica;color:#ffffff;font-size:10px; }

.sis:hover{FONT-FAMILY: verdana,arial,helvetica;color:#ffffff;font-size:10px}

.sis:active{FONT-FAMILY: verdana,arial,helvetica;color:#ffffff;font-size:10px; text-decoration: underline}



.obr{FONT-FAMILY: verdana;color:#666699;font-size:13px}

.nova{FONT-FAMILY: verdana;color:#000000;font-size:11px}

.noti2 {FONT-FAMILY: verdana,arial,helvetica;COLOR:#3E7821; TEXT-DECORATION: none;font-size:12px}

.noti {FONT-FAMILY: verdana,arial,helvetica;COLOR:#146FB1; TEXT-DECORATION: none;font-size:13px}

.noti:hover {FONT-FAMILY: verdana,arial,helvetica;        COLOR: #FFFFFF; TEXT-DECORATION:none;font-size:12px}

.noti:active {        FONT-FAMILY: verdana,arial,helvetica;COLOR: #FFFFFF; TEXT-DECORATION: underline;;font-size:12px}



input,select,textarea{FONT-FAMILY: arial;COLOR: #000000; TEXT-DECORATION: none;font-size:12px;}

.flate{border: 1px solid black;border-color:#000000;font-size:18;font-family:Arial, Helvetica, sans-serif}
.flate22{border: 1px solid black;border-color:#4A9346;font-size:12;font-family:Arial, Helvetica, sans-serif}
.flate2{border: 1px solid black;background:#ffffff;font-size:18px;}
.lowred{font-family:verdana,arial;color:#000000;font-size:10px}
.el{font-family:arial;color:#3C6452;font-size:14px;font-style:height}

.el2{font-family:arial;color:#1F7CA0;font-size:15px;font-style:height}

.tmp{font-family:verdana;color:#FFFFFF;font-size:11px ;TEXT-DECORATION: none ; font-style:bold}
.tmp:hover{font-family:verdana;color:#FFFFFF;font-size:11px; font-style:bold;TEXT-DECORATION: underline}
.tmp:active{font-family:verdana;color:#FFFFFF;font-size:11px ;TEXT-DECORATION: none}
.tmp:visited{font-family:verdana;color:#FFFF00;font-size:11px ;TEXT-DECORATION: none}

.tmp2{font-family:arial;color:#FFFFFF;font-size:13px ;TEXT-DECORATION: none ; font-style:bold}
.tmp2:hover{font-family:arial;color:#FFFFFF;font-size:13px; font-style:bold;TEXT-DECORATION: underline}
.tmp2:active{font-family:arial;color:#FFFFFF;font-size:13px ;TEXT-DECORATION: none}


.fal3{font-family:verdana;color:#ffffff;font-size:10px; background:#347E14}

.fal2{font-family:verdana;color:#000000;font-size:11px; background:#E3FBE1;}

.fal{font-family:verdana;color:#000000;font-size:10px; background:#E3FBE1;}

.falso{font-family:verdana;color:#ff0000;font-size:10px; background:#E4EFEA;}


.fale{font-family:verdana,arial;color:darkblue;font-size:12px}
.falaae{font-family:verdana;color:#000000;font-size:10px}
.fali{font-family:verdana;color:#000000;font-size:18px;}
.supla{font-family:verdana;color:#000000;font-size:11px;}



.outside {COLOR: #782D4B; TEXT-DECORATION: none}
.outside:hover {COLOR: #AC7793; TEXT-DECORATION: underline}
.outside:active {        COLOR: #0066ff; TEXT-DECORATION: underline}

.outside2 {COLOR: #782D4B; TEXT-DECORATION: none;font-size:11px}
.outside2:hover {COLOR: #AC7793; TEXT-DECORATION: underline;font-size:11px}
.outside2:active {        COLOR: #0066ff; TEXT-DECORATION: underline;font-size:11px}

.outside3 {COLOR: #ff0000; TEXT-DECORATION: none;font-size:10px}
.outside3:hover {COLOR: #ff0000; TEXT-DECORATION: underline;font-size:10px}
.outside3:active {        COLOR: #ff0000; TEXT-DECORATION: underline;font-size:10px}

.vorte {font-family:arial;COLOR: #355C01; TEXT-DECORATION: none;font-size:10px}
.vorte:hover {font-family:arial;COLOR: #ff0000; TEXT-DECORATION: none;font-size:10px;}
.vorte:active {font-family:arial;COLOR: #355C01; TEXT-DECORATION: none;font-size:10px}

.outside4 {COLOR: #000099; TEXT-DECORATION: none;font-size:10px}
.outside4:hover {COLOR: #000099; TEXT-DECORATION: underline;font-size:10px}
.outside4:active {COLOR: #000099; TEXT-DECORATION: underline;font-size:10px}

.outside5 {COLOR: #0000ff; TEXT-DECORATION:none;font-size:11px}
.outside5:hover {COLOR: #FF0000; TEXT-DECORATION:none;font-size:11px}
.outside5:active {COLOR: #0000ff; TEXT-DECORATION:none;font-size:11px}

.outside6 {COLOR: #1D11B0; TEXT-DECORATION:none;font-size:11px}
.outside6:hover {COLOR: #1D11B0; TEXT-DECORATION:underline;font-size:11px}
.outside6:active {COLOR: #1D11B0; TEXT-DECORATION:none;font-size:11px}

A {TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: underline}
A:active {        TEXT-DECORATION: underline}



.ip {color:#000000;FONT-SIZE: 14px; FONT-FAMILY: Helvetica;}
.beto3 {color:#F2F2F2;FONT-SIZE: 12px; FONT-FAMILY: arial;}
.beto4 {color:#000000;FONT-SIZE: 18px; FONT-FAMILY: helvetica;}
.msoft {FONT-SIZE: 13px; FONT-FAMILY: courier;}

.beto:active {color:#ff0000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.beto:link {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.beto:visited {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.beto:hover {color:#0000ff;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}

.zeto:active {color:#ffFFFF;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto:link {color:#FFFFFF;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto:visited {color:#FFFFFF;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto:hover {color:#FFFF00;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}

.zeto2:active {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto2:link {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto2:visited {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 9px;FONT-FAMILY: arial;}
.zeto2:hover {color:#0000ff;TEXT-DECORATION: underline;FONT-SIZE: 9px;FONT-FAMILY: arial;}

.zeto3:active {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.zeto3:link {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.zeto3:visited {color:#000000;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}
.zeto3:hover {color:#0000ff;TEXT-DECORATION: none;FONT-SIZE: 12px;FONT-FAMILY: arial;}

.menu:active {color:#616161;TEXT-DECORATION: none;FONT-SIZE: 10px;}
.menu:link {color:#616161;TEXT-DECORATION: none;FONT-SIZE: 10px;}
.menu:visited {color:#616161;TEXT-DECORATION: nome;FONT-SIZE: 10px;}
.menu:hover {color:#0244A6;TEXT-DECORATION: none;FONT-SIZE: 10px;font-weight:bold;}

.to:active {color:#000000;TEXT-DECORATION: underline}
.to:link {color:#0000FF;TEXT-DECORATION: underline}
.to:visited {color:#0000FF;TEXT-DECORATION: underline}
.to:hover {color:#ff0000;TEXT-DECORATION: underline}

.eto:active {color:#000000;font-size:11px;TEXT-DECORATION: none}
.eto:link {color:#0000ff;font-size:11px;TEXT-DECORATION: none}
.eto:visited {color:#ff0000;font-size:11px;TEXT-DECORATION: none}
.eto:hover {color:#0090ff;font-size:11px;TEXT-DECORATION: none}

.eto2:active {color:#000000;font-size:11px;TEXT-DECORATION: none}
.eto2:link {color:#0000ff;font-size:11px;TEXT-DECORATION: none}
.eto2:visited {color:#ff0000;font-size:11px;TEXT-DECORATION: none}
.eto2:hover {color:#0090ff;font-size:11px;TEXT-DECORATION: none}


.beto2:active {color:#FFFFFF;        TEXT-DECORATION: none}
.beto2:link {color:#FFFFFF;        TEXT-DECORATION: none}
.beto2:visited {color:#FFFFFF;        TEXT-DECORATION: none}
.beto2:hover {color:#00FFff;}

.gra {FONT-SIZE: 19px;color:#000000 FONT-FAMILY: Verdana,  Arial, Helvetica;}

.gra2 {
	FONT-SIZE: 10px;
color:#000000 FONT-FAMILY: Verdana,  Arial, Helvetica;		color: #000099;
	font-weight: normal;
}

.gra3 {
	FONT-SIZE: 10px;
color:#000000 FONT-FAMILY: Verdana,  Arial, Helvetica;		color: #000000;
	font-weight: normal;
}

.gra33 {
	FONT-SIZE: 10px;
color:#000000 FONT-FAMILY: Verdana,  Arial, Helvetica;		color: #000000;
	font-weight: normal;
}


.gra4 {
	FONT-SIZE: 10px;
color:#000000 FONT-FAMILY: Verdana,  Arial, Helvetica;		color: #FF0000;
	font-weight: normal;
}

.gra5 {
	FONT-SIZE: 11px; FONT-FAMILY:Arial;color: #000000;
	}

.gra6 {
	FONT-SIZE: 13px; FONT-FAMILY:Arial;color: #000000;
	}

.component {
	FONT-SIZE: 10px; COLOR: #663333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.vejatb {
	FONT-SIZE: 10px; COLOR: #dfa515; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.dezmais {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.platina {
	FONT-SIZE: 12px; COLOR: #23355c; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.normal {
	FONT-SIZE: 8pt; COLOR: #6e5e34; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.destaques {
	FONT-SIZE: 10px; COLOR: #6e5e34; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.vrm {
	FONT-SIZE: 10px; COLOR: #6e5e34; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.style12 {font-size: 10px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #2463B9;}